@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG1_CnYlVBrWXuTYAE7fuy_JqsHzLxNaFXuaKM9Sc6xsIvSfxPvH0Z5SaPxWZUtZ9C7UKzLK4AljJe3wZODu0uUbWgoBMWiXC3IQ0AkvE3fhA461nKu2b8HTkzD8f3bMjC_lmFAXuJ0OriSA2TpOE6Bhf1R-2&skey=cf0bb10b5602fdc3&v=v40) format('woff2');
  unicode-range: U+41, U+44-46, U+49, U+3002, U+4e00, U+4e1a, U+4e50, U+4eba, U+4ece, U+4f01, U+4ff1, U+5165, U+5185, U+5230, U+52a1, U+540c, U+573a, U+5bb6, U+6280, U+63a2, U+65d7, U+6709, U+6bcf, U+73b0, U+76df, U+79cd, U+79d1, U+7d22, U+8054, U+84dd, U+8ba9, U+8bad, U+8def, U+8fdb, U+90e8, U+90fd, U+9c7c, U+ff0c;
}
